$base-font-size: 10;

// COLORS
$white: #fff;
$black: #000;
$dark_grey: #95989A;
$light_gray: #ccc;
$green: #298c29;
$dark_green: #154015;
$light_green: #51d451;
$red_pink: #f33558;
$blue: #0088ff;
$light_blue: aliceblue;
$font_color: #2c3e50;
